{% extends 'admin.html.twig' %}

{% block title %}{% trans %}User List{% endtrans %}{% endblock %}

{% block body_title %}{% trans %}User List{% endtrans %}{% endblock %}

{% set card_body_classes = 'p-0' %}

{% block body_navbar %}
    {{ component('admin-navbar-action', {
        form: form,
        url_new: path('admin_user_new')
    }) }}
{% endblock %}

{% block body_content %}
    <table class="table">
        <thead>
        <tr>
            <th>{% trans %}Firstname{% endtrans %}</th>
            <th>{% trans %}Lastname{% endtrans %}</th>
            <th>{% trans %}Email{% endtrans %}</th>
            <th>{% trans %}IsActif{% endtrans %}</th>
            <th>{% trans %}IsMember{% endtrans %}</th>
            <th>{% trans %}LastConnectionAt{% endtrans %}</th>
            <th class="col-action">{% trans %}Actions{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.firstname }}</td>
                <td>{{ entity.lastname }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ (entity.isActif ? 'Yes' : 'No') | trans }}</td>
                <td>{{ (entity.isMember ? 'Yes' : 'No') | trans }}</td>
                <td>{{ entity.lastConnectionAt ? entity.lastConnectionAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            {% trans %}Action{% endtrans %}
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item"
                                   href="{{ path('admin_user_show', {'id': entity.id}) }}">
                                    {% trans %}Show{% endtrans %}
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   href="{{ path('admin_user_edit', {'id': entity.id}) }}">
                                    {% trans %}Edit{% endtrans %}
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   href="{{ path('admin_user_delete', {'id': entity.id}) }}">
                                    {% trans %}Delete{% endtrans %}
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(entities) }}
{% endblock %}
