{% extends 'admin.html.twig' %}

{% block title %}{% trans %}User Show{% endtrans %}{% endblock %}

{% block body_title %}{% trans %}User Show{% endtrans %}{% endblock %}

{% block body_content %}
    <table class="table">
        <tbody>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Civility{% endtrans %}</th>
                <td>{{ entity.civility.value }}</td>
            </tr>
            <tr>
                <th>{% trans %}Firstname{% endtrans %}</th>
                <td>{{ entity.firstname }}</td>
            </tr>
            <tr>
                <th>{% trans %}Lastname{% endtrans %}</th>
                <td>{{ entity.lastname }}</td>
            </tr>
            <tr>
                <th>{% trans %}Email{% endtrans %}</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>{% trans %}IsActif{% endtrans %}</th>
                <td>{{ entity.isActif ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>{% trans %}IsMember{% endtrans %}</th>
                <td>{{ entity.isMember ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>{% trans %}LastConnectionAt{% endtrans %}</th>
                <td>{{ entity.lastConnectionAt ? entity.lastConnectionAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{% trans %}CreatedAt{% endtrans %}</th>
                <td>{{ entity.createdAt ? entity.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{% trans %}UpdatedAt{% endtrans %}</th>
                <td>{{ entity.updatedAt ? entity.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <div class="action-bar">
        <a class="btn btn-primary" href="{{ path('admin_user_index') }}">
            {% trans %}Back to list{% endtrans %}
        </a>

        <a class="btn btn-primary" href="{{ path('admin_user_edit', {'id': entity.id}) }}">
            {% trans %}Edit{% endtrans %}
        </a>

        <a class="btn btn-danger" href="{{ path('admin_user_delete', { id: entity.id }) }}">
            {% trans %}Delete{% endtrans %}
        </a>
    </div>
{% endblock %}
