{% if pageCount > 1 %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if first is defined and current != first %}
                <li class="page-item first">
                    <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): first})) }}">
                        &lt;&lt;
                    </a>
                </li>
            {% endif %}

            {% if previous is defined %}
                <li class="page-item previous">
                    <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">
                        &lt;
                    </a>
                </li>
            {% endif %}

            {% for page in pagesInRange %}
                <li class="page-item {{ page == current ? 'active' : '' }}">
                    <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): page})) }}">
                        {{ page }}
                    </a>
                </li>
            {% endfor %}

            {% if next is defined %}
                <li class="page-item next">
                    <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): next})) }}">
                        &gt;
                    </a>
                </li>
            {% endif %}

            {% if last is defined and current != last %}
                <li class="page-item last">
                    <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): last})) }}">
                        &gt;&gt;
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}