<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="icon" href="{{ asset('build/images/favicon.ico') }}" />
        <title>{% block title %}Administration{% endblock %} | La Maison Jaune</title>

        <meta name="language" content="fr-FR" />

        {% block stylesheets %}
            {{ encore_entry_link_tags('admin') }}
        {% endblock %}
    </head>
    <body>
        {{ component('admin-topbar') }}
        {{ block('body') }}

        {% block javascripts %}
            {{ encore_entry_script_tags('admin') }}
        {% endblock %}
    </body>
</html>

